<mat-card class="centered" [ngClass.xs]="'card-zero'">
    <mat-card-title i18n>Passwort vergessen</mat-card-title>
    <mat-card-content>
        <p i18n>Du hast Dein Passwort vergessen? Kein Problem! Hier kannst Du Dir eine E-Mail zuschicken lassen
            mit weiteren Instruktionen um Dein Passwort zurück zu setzen.</p>
        <form [formGroup]="form" (submit)="resetPassword()">
            <div>
                <mat-form-field appearance="standard">
                    <mat-label i18n>E-Mail</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="form.get('email')?.invalid">
                        {{getErrorMessage('email')}}</mat-error>
                </mat-form-field>
            </div>
            <mat-form-actions>
                <button type="submit" [disabled]="form.invalid" mat-flat-button color="primary" i18n>
                    E-Mail zuschicken
                </button>
                <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign.gt-xs="end center">
                    <a routerLink="../login" i18n-title title="Mit vorhandenem Accounnt einloggen" i18n>Login</a>
                </div>
            </mat-form-actions>
        </form>
    </mat-card-content>
</mat-card>
