<mat-card class="centered" [ngClass.xs]="'card-zero'">
    <mat-card-title i18n>E-Mail versendet</mat-card-title>
    <mat-card-content>
        <p i18n>Dir wurde eine E-Mail mit weiteren Instruktionen zugeschickt. Die E-Mail wird von
            noreply@universal-standard-app.firebaseapp.com versendet und hat den Betreff "Passwort für
            universal-standard-app zurücksetzen". Falls Du die E-Mail im Posteingang nicht findest, überprüfe auch
            den Spam-Ordner!</p>
        <p i18n>Nachdem Du dem Link in der E-Mail gefolgt bist, und Dein Passwort zurückgesetzt hast, kannst Du hierher
            zurück kehren und Dich mit dem neuen Passwort anmelden.</p>
        <a mat-flat-button color="primary" routerLink="../login" fxFlexFill
            i18n-title title="Mit neuem Passwort anmelden" i18n>Login</a>
    </mat-card-content>
</mat-card>
