<h1>E-Mail muss noch verifiziert werden</h1>
<p i18n>Dir wurde eine E-Mail mit einem Bestätigungs-Link zugeschickt. Erst nachdem du diesen Link aufgerufen hast,
    ist dein Account endgültig freigegeben.</p>
<p i18n>Du hast keine E-Mail erhalten? Vergewissere Dich, dass die E-Mail nicht in deinem Spam-Ordner gelandet ist.
    Falls wirklich keine E-Mail angekommen ist, kannst Du die Bestätigungs-Mail hier erneut anfordern.</p>
<button mat-raised-button color="primary" (click)="resendVerificationEmail()">Bestätigungs-Link erneut zusenden</button>
