<mat-card class="centered" [ngClass.xs]="'card-zero'">
    <mat-card-title i18n>Einloggen</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="32px">
        <div>
            <p i18n>Hier kannst du dich mit E-Mail und Passwort anmelden.</p>
            <form [formGroup]="form" (submit)="signIn()">
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label i18n>E-Mail</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="form.get('email')?.invalid">
                            {{getErrorMessage('email')}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label i18n>Passwort</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-error *ngIf="form.get('password')?.invalid">
                            {{getErrorMessage('password')}}</mat-error>
                    </mat-form-field>
                </div>
                <mat-form-actions>
                    <button type="submit" [disabled]="form.invalid" mat-flat-button color="primary" i18n>Login</button>
                    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign.gt-xs="end center">
                        <a routerLink="../reset-password" i18n-title title="Passwort zurück setzen" i18n>
                            Passwort vergessen</a>
                        <a routerLink="../register" i18n-title title="Einen neuen Account registrieren" i18n>
                            Registrieren</a>
                    </div>
                </mat-form-actions>
            </form>
        </div>
        <div>
            <p>Stattdessen mit Google anmelden.</p>
            <button mat-flat-button color="primary" (click)="signInWithGoogle()" i18n>Anmelden mit Google</button>
        </div>
    </mat-card-content>
</mat-card>
