<div class="background-container" fxLayout="row" fxLayoutAlign="center">
    <div class="app-container" ngClass.xs="is-mobile">
        <mat-toolbar class="toolbar" color="primary" fxLayoutGap="8px">
            <button mat-icon-button (click)="sideNav.toggle()" *ngIf="showMenuButton">
                <mat-icon>menu</mat-icon></button>
            <h1 ngClass.xs="smaller-font" i18n>Universal Standard App</h1>
            <div fxFlex="1 1 auto"></div>
            <button mat-icon-button *ngIf="isAuthenticated" [matMenuTriggerFor]="userMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <a mat-menu-item routerLink="profile">
                    <mat-icon>contact_page</mat-icon>
                    <span i18n>Profil</span>
                </a>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span i18n>Abmelden</span>
                </button>
            </mat-menu>
        </mat-toolbar>
        <mat-sidenav-container class="sidenav-container" fxFlex fxFlex.xs="1 0 auto">
            <mat-sidenav #sideNav [mode]="isMobile ? 'over' : 'side'" [fixedInViewport]="isMobile" fixedTopGap="56">
                <mat-nav-list>
                    <a mat-list-item routerLink="home" (mouseup)="sideNav.close()" i18n>Startseite</a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content class="main-content">
                <div *ngIf="layoutCentered" [fxLayoutAlign.gt-xs]="fxLayoutAlign">
                    <router-outlet></router-outlet>
                </div>
                <div *ngIf="!layoutCentered">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>


