.background-container {
    background-color: #fafafa;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}

.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 960px;
    background-color: #fff;
}

.is-mobile .toolbar {
    position: fixed;
    z-index: 2;
}

.is-mobile .sidenav-container {
    margin-top: 56px;
}

mat-sidenav {
    width: 200px;
}

.main-content {
    height: 100%;
}

.main-content > div {
    box-sizing: border-box;
    height: 100%;
    padding: 16px;
}

button.mat-menu-item {
    text-transform: capitalize;
}

.mat-toolbar button:first-child {
    margin-left: -8px;
}

.mat-toolbar button:last-of-type {
    margin-right: -8px;
}

h1.smaller-font {
    font-size: 0.96em;
}
