/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-title {
    line-height: 32px;
}
.mat-card-title + .mat-card-content {
    margin-top: 16px;
}

.mat-form-field {
    width: 100%;
}

.mat-card.centered {
    width: 480px;
}

.mat-card.card-zero {
    border: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
}

.mat-drawer-container {
    background: none;
}

button {
    text-transform: uppercase;
}

a {
    font-weight: 500;
}
